{% extends 'main.html' %}

{% block content %}

   {% if error %}
      <font color="#ff0000"> {{ error }} </font>
   {% endif %}

   {% if tournament.tournament_creator.login == request.user.username %}
      <p>Are you sure you want to generate the tournament schedule?</p>
      <form method="POST" action="">
         {% csrf_token %}
         <form> 
            <input type="submit" name="automatically" value="Generate" />
            
         </form> 
      </form>
   {% endif %}
   
{% endblock content %}
